body {
    padding: 0;
    overflow: hidden;
    font-family: colfax, helvetica, arial, sans-serif;
}

p.main {
  font-size: 24px;
}

.map {
    position: absolute;
    right: 0px;
    left: 400px;
    height: 100%;
    top: 0;
}

.sidebar {
    position: absolute;
    left: 0px;
    width: 400px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
    font-size: 16px;
}
